

.bold-link{
    color: rgb(254, 254, 255);
    margin-left: 50px;
    font-weight: bold;
    font-size:40px;


}



.nav{
    background-color: #11002A;
}

.step-ct {
    color: aliceblue;
    margin-top: 20px;
}

.user_1{
    margin-top: 10px;
}